:root {
  --primary: #254d71;
  --light: #f6f7fb;
  --danger: #ffbcb3;
  --success: #63d1b4;
  --white: #fff;
  --grey: #787878;
  --greyDark: #383838;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--grey);
  background-color: var(--light);
}

h1, h2, h3, h4 {
  color: var(--greyDark);
  font-weight: 400;
}

input[type='button'], button, input[type='submit'] {
  cursor: pointer;
  border: none;
  outline: none;
}

input[type='text'], input[type='email'] {
  width: 100%;
  padding: .8rem;
  border: none;
  background-color: var(--light);
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 1rem;
  outline: none;
}

.btn {
  padding: .8rem 2.4rem;
  border-radius: 2.4rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-success {
  background-color: var(--success);
  color: var(--white);
}

.btn-danger {
  background-color: #DC3545;
  color: var(--white);
}

.heading {
  font-size: 2.4rem;
}

.container {
  max-width: 120rem;
  width: calc(100vw - 2em);
  margin: auto;
}

.card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: .6rem;
  box-shadow: 0 .6rem 1rem rgba(0,0,0, .1);
  margin-bottom: 1rem;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}